# Eclipse
.classpath
.project
.settings/
.buildpath

# IntelliJ
*.iml
*.ipr
.idea

# Mac
.DS_Store

# Node
commands/node_modules

# Dist
dist

# SASS related
.sass-cache

# VIM
*.swp

# ng-docs
commands/docs
